@page "{id:int}"
@using Soluling.Sport;
@model DetailsModel
@{
  ViewData["Title"] = @Localizer["Sport {0}", Model.Value.Id];
}

<h1>@ViewData["Title"]</h1>

<div class="row">
  <div class="col-sm-12">
    <dl class="dl-horizontal">
      <dt>
        @Html.DisplayNameFor(model => model.Value.Id)
      </dt>
      <dd>
        @Html.DisplayFor(model => model.Value.Id)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Value.Languages[0].Name)
      </dt>
      <dd>
        @Html.DisplayFor(model => model.Value.Languages[0].Name)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Value.Languages[0].Description)
      </dt>
      <dd>
        @Html.DisplayFor(model => model.Value.Languages[0].Description)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Value.Olympic)
      </dt>
      <dd>
        @Html.DisplayFor(model => model.Value.Olympic)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Value.Kind)
      </dt>
      <dd>
        @Html.DisplayFor(model => model.Value.Kind)
      </dd>

      @if (Model.Value.Kind == SportKind.Team)
      {
        <dt>
          @Html.DisplayNameFor(model => model.Value.FieldPlayers)
        </dt>
        <dd>
          @Html.DisplayFor(model => model.Value.FieldPlayers.Value)
        </dd>

        <dt>
          @Html.DisplayNameFor(model => model.Value.Goalie)
        </dt>
        <dd>
          @Html.DisplayFor(model => model.Value.Goalie.Value)
        </dd>
      }
    </dl>
  </div>
</div>
<div>
  <a asp-page="./Edit" asp-route-id="@Model.Value.Id" class="btn btn-sm btn-primary btn-space"><span class="fas fa-edit"></span>&nbsp; @Localizer["Edit"]</a>
  <a asp-page="./Index" class="btn btn-sm btn-success btn-space"><span class="fas fa-list-ul"></span>&nbsp; @Localizer["Back to List"]</a>
</div>
