@page
@model IndexModel
@{
    ViewData["Title"] = @Localizer["Sports"];
}

<div class="row">
  <h1 class="display-2">@ViewData["Title"]</h1>

  <div class="col-sm-2 align-self-end">
    <p>  
      <a asp-page="Add" class="btn btn-primary"><span class="fas fa-plus"></span>&nbsp; @Localizer["Add a Sport"]</a>
    </p>
  </div>
</div>

@await Html.PartialAsync("_MessagePartial", Model)

<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(m => m.Sports[0].Id)
    </th>
    <th>
      @Html.DisplayNameFor(m => m.Sports[0].Languages[0].Name)
    </th>
    <th>
      @Html.DisplayNameFor(m => m.Sports[0].Languages[0].Description)
    </th>
    <th>
      @Html.DisplayNameFor(m => m.Sports[0].Olympic)
    </th>
    <th>
      @Html.DisplayNameFor(m => m.Sports[0].Kind)
    </th>
    <th>
      @Html.DisplayNameFor(m => m.Sports[0].FieldPlayers)
    </th>
    <th>
      @Html.DisplayNameFor(m => m.Sports[0].Goalie)
    </th>
    <th>
      @Html.DisplayNameFor(m => m.Sports[0].Languages[0].Origin)
    </th>
    <th>
    </th>
  </tr>

  @foreach (var item in Model.Sports)
  {
    <tr>
      <td>
        @Html.DisplayFor(m => item.Id)
      </td>
      <td>
        @Html.DisplayFor(m => item.Languages[0].Name)
      </td>
      <td>
        @Html.DisplayFor(m => item.Languages[0].Description)
      </td>
      <td>
        @Html.DisplayFor(m => item.Olympic)
      </td>
      <td>
        @Html.DisplayFor(m => item.Kind)
      </td>
      <td>
        @if (item.FieldPlayers != null)
        {
          @Html.DisplayFor(m => item.FieldPlayers.Value)
        }
      </td>
      <td>
        @if (item.Goalie != null)
        {
          @Html.DisplayFor(m => item.Goalie.Value)
        }
      </td>
      <td>
        @Html.DisplayFor(m => item.Languages[0].Origin)
      </td>

      <td>
        @await Html.PartialAsync("_TableButtonsPartial", new IndividualButtonPartial { Id = item.Id })
      </td>
    </tr>
  }
</table>